    <div class="row">
      <div class="col">
        <form #loginForm = "ngForm">
            Email
            <input 
            type="text" 
            name="email"
            ngModel
            required
            email
            class="form-control"
            #email="ngModel">
            <div
            *ngIf="email.invalid && email.touched"
            class="alert alert-danger"
            >
            votre email est incorrect veuillez saisir un email valide
            </div>
            Password
            <input 
            type="password" 
            name="password"
            ngModel
            required
            minlength="4"
            class="form-control"
            #password="ngModel">
            <div
            *ngIf="password.invalid && password.touched"
            class="alert alert-danger"
            >
            votre password est incorrect il doit avoir au minimum 4 caractères
            </div>
            <br>
            <button 
            [disabled]="loginForm.invalid"
            (click)="login(loginForm)"
            class="btn btn-primary">Login</button>
        
        </form>
      </div>
      <div class="col">
       
      </div>
    </div>
