<form #monFormulaire="ngForm">
   <div
   ngModelGroup="dataInformations"
   #dataInformations="ngModelGroup"
   >
    <input 
   type="text" 
   name="monInput"
   #monPremierInput="ngModel"
   required
   class="form-control"
   minlength="3"
   maxlength="7"
   [(ngModel)]="var1"
   (click)="showInput(monPremierInput)"
   >

   <input 
   type="text" 
   name="monInput2"
   required
   pattern="[0-1]?d\{1,2}"
   [(ngModel)]="var2"

   class="form-control">
</div>
<div class="alert alert-danger"
*ngIf="dataInformations.invalid && dataInformations.touched "
>
    Veuillez vérifier les deux propriétés
</div>
   <input 
   type="text" 
   name="monInput3"
   required
   ngModel
   class="form-control">

<button (click)= "processForm(monFormulaire)"class="btn btn-primary">
    Process
</button>

 <!-- <form #monFormulaire="ngForm">
    <input 
    type="text" 
    name="monInput"
    required
    ngModel=""
    class="form-control"
    minlength="3"
    maxlength="7"
    >
  -->
    <!-- <input 
    type="text" 
    name="monInput2"
    required
    pattern="[0-1]?d\{1,2}"
    ngModel=""
    class="form-control">
 <button (click)= "processForm(monFormulaire)"class="btn btn-primary">
     Login
 </button>  -->