<div class="container">
    <img src="{{personne?.photo}}" 
        width="150px"
        height="150px"
        class="rounded-circle"
        alt=""
        >
    <ul class="list-group">
        <li class="list-group-item">Informations de : {{personne?.name}} {{  personne?.firstname}}</li>
        
        <li class="list-group-item">ID : {{personne.id}}</li>
        <li class="list-group-item">Name:  {{personne?.name}}</li>
        <li class="list-group-item">Fistname :{{personne?.firstname}}</li>
        <li class="list-group-item">Job : {{personne?.job}} </li>
        <li class="list-group-item">Age :{{personne?.age}}</li>
        <li class="list-group-item">CIN  :  {{personne?.cin}} </li>

      </ul>
      <button type="button" class="btn btn-danger" 
      (click)="deletePersonne()"
      class="btn btn danger" >delete</button>
</div>