<p>detail-person works!</p>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">Informations</li>
        <!-- <img src="{{personne?.photo}}" 
        width="150px"
        height="150px"
        class="rounded-circle": {{personne?.id}}{{personne?.name}}: {{personne?.firstname}}: {{personne?.job}}
        alt="{{personne?.name}}": {{personne?.age}}: {{personne?.cin}}
        > -->
        <li class="list-group-item">ID  {{personne.id}}</li>
        <li class="list-group-item">Name:  {{personne?.name}}</li>
        <li class="list-group-item">Fistname</li>
        <li class="list-group-item">Job </li>
        <li class="list-group-item">Age</li>
        <li class="list-group-item">CIN </li>

      </ul>
      <button class="btn btn danger">delete</button>
</div>